@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;


body {
  background-color: $body-bg-color;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.container {
  max-width: 50%;
}

.alt-color {
  background-color: $alt-color;
}
$black: #000;
$error: #f00;
$success: #D7FFE6;

.hide {
  display: none;
}

.failure {
  color: $error;
}

.success {
  color: $success;
}
